<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Фобос</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header">
                <div class="topheader">
                    <div class="topheader__logo">ФОБОС</div>
                    <a href="" class="topheader__link">
                        <img src="./image/camera.png" alt="Camera" class="camera">
                        <div class="text">Трансляция с катка</div>
                    </a>
                </div>
                <div class="siteinfo">
                    <div class="siteinfo__bc">бизнес-центр</div>
                    <div class="siteinfo__cn">фобос</div>
                </div>
                <nav class="menu">
                    <div class="menu__list">
                        <div class="item">
                            <a>
                                <div class="text">Партнеры</div>
                            </a>
                        </div>
                        <div class="item">
                            <a>
                                <div class="text">Каток</div>
                            </a>
                        </div>
                        <div class="item">
                            <a>
                                <div class="text">Аренда</div>
                            </a>
                        </div>
                        <div class="item">
                            <a>
                                <div class="text">Контакты</div>
                            </a>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="partners-block">
                <div class="block-title">
                    <div class="block-title__small-text">БЦ ФОБОС</div>
                    <div class="block-title__title">партнеры</div>
                </div>
                <div class="partners-block__cards">
                    <div class="partner-card">
                        <div class="partner-card__title">Кафе-караоке Аленушка</div>
                        <div class="data">
                            <a href="" class="data__item">
                                <div class="text">+7 960 201-11-27</div>
                            </a>
                            <a href="" class="data__item">
                                <div class="text">obuv53.ru</div>
                            </a>
                            <a href="" class="data__item">
                                <div class="text">+7 960 201-11-27</div>
                            </a>
                        </div>
                    </div>
                    <div class="partner-card">
                        <div class="partner-card__title">Кафе-караоке Аленушка</div>
                    </div>
                    <div class="partner-card">
                        <div class="partner-card__title">Кафе-караоке Аленушка</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>